.body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    justify-items: center;
    
    
}
.container{
    
    
}
.sub{
   font-size: 15px;
   text-align: center;
}
.verticalLine{
    background-color: black;
    height: 250px;
    width: 2px;
}
.paragraph{
    
    text-align: left;
    margin-bottom: 20px;
}
.list{
    text-align: right;
    list-style-position: center;
    justify-items: center;
    margin-left: 500px;
    flex: 1;

    
}
